* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  font-family: Helvetica, sans-serif;
  width: 500px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  border-radius: 15%;
  line-height: 150%;
  background-color: #212121;
  color: #fafafa;
  width: 10%;
}

.value {
  font-weight: bold;
  font-size: 200%;
  padding: 2px;
}

.label {
  font-weight: bold;
  font-size: 60%;
  padding: 2px;
}
